.btn{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-background-radius: 0;
    -fx-border: none;
}

#leftBar {
  -fx-background-color: #fff;

}
#rightBar {
  -fx-background-color: #fff;

}


#canvasParent {
    -fx-effect: innershadown(gaussian, rgba(121, 120, 120, 0.25), 57, 0, 0, 0);
    -fx-border: none;
}


#header1 {
  -fx-font-weight: bold;
  -fx-padding: 5;
}

#squareBtn{
    -fx-background-color: #5684DF;
    -fx-border: none;
    -fx-background-radius: 0;
    -fx-text-fill: white;
    -fx-graphic: url('../icons/plus.png');
}

#panBtn{
    -fx-background-color: transparent;
    -fx-border: none;
    -fx-background-radius: 0;
    -fx-text-fill: white;
    -fx-graphic: url('../icons/pan.png');
}
#export{
    -fx-background-color: transparent;
    -fx-border: none;
    -fx-background-radius: 0;
    -fx-text-fill: white;
}


#zoomIn{
    -fx-background-color: transparent;
    -fx-border: none;
    -fx-background-radius: 0;
    -fx-text-fill: white;
    -fx-graphic: url('../icons/zoomIn.png');
}
#zoomOut{
    -fx-background-color: transparent;
    -fx-border: none;
    -fx-background-radius: 0;
    -fx-text-fill: white;
    -fx-graphic: url('../icons/zoomOut.png');
}
#zoomOut:hover{
    -fx-background-color: #6F7178;
}
#zoomIn:hover{
    -fx-background-color: #6F7178;
}

.layer{
    -fx-padding: 5;
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-background-radius: 0;
    -fx-border: none;
}

.layer:hover {
    -fx-border-color: #18A0FB;
    -fx-stoke-width: 3;
    -fx-border-style: inside
}

.node:hover {
    -fx-border-style: solid; 
    -fx-border-color: #18A0FB; 
    -fx-border-width: 2;
}